
<div class="container">
   <div class="row">
      <div class="span12" data-bind="with: EditPanel">
         <div id="addModel" class="row hide" data-bind="template: 'form-create-model'"></div>
         <button data-bind="slideToggle: {target: '#addModel'}, enable: $root.hasStores" class="btn btn-small btn-primary">Add a Model</button>
      </div>
   </div>
   <div class="row">
      <div class="span12">
         <div data-bind="visible: $root.modelsCount() > 0, template: 'model-list-template'"></div>
         <div data-bind="visible: !$root.hasStores()"><br />Please add a store first</div>
      </div>
   </div>
</div>

<script type="text/html" id="model-list-template">
   List of models
</script>


<script type="text/html" id="form-create-model">
   <form class="form-inline" data-bind="submit: fillModelForm">
      <select name="templates" class="input-small">
         <option>user</option>
         <option>group</option>
         <option>thread</option>
         <option>message</option>
      </select>
      <button type="submit" class="btn">load template</button>
   </form>
   <form class="form-horizontal" data-bind="submit: createModel, validate: true">
      <fieldset>
         <div class="control-group">
            <label class="control-label" for="modelName">Model Name</label>
            <div class="controls">
               <input type="text" name="modelName" id="modelName" class="input-medium" />
               <p class="help-block">Just a name to identify the model</p>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="storeName">Store</label>
            <div class="controls">
               <select class="input-medium" name="storeName" data-bind="options: storeNames"></select>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="tableName">Table/Path</label>
            <div class="controls">
               <div class="input-append">
                   <input type="text" name="modelName" id="tableName" /><a class="btn"><i class="icon-chevron-down"></i></a>
               </div>
               <p class="help-block">Where the data is stored (i.e. the database table)</p>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="primaryKey">Primary Key</label>
            <div class="controls">

            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="instanceUrl">Validator</label>
            <div class="controls">

            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="instanceUrl">Auto Sync</label>
            <div class="controls">

            </div>
         </div>
      </fieldset>
      <button type="submit" class="btn btn-primary pull-right">Create Model</button>
   </form>
</script>