
<div class="container">
    <div class="row">
        <div class="span12" data-bind="with: EditPanel">
            <button data-bind="click: storeModal" class="btn btn-small btn-primary">Create Store</button>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div data-bind="visible: $root.hasStores, template: {name: 'store-list-template', foreach: $root.stores}"></div>
            <div data-bind="visible: !$root.hasStores()">No stores yet.</div>
        </div>
    </div>
</div>

<script type="text/html" id="store-list-template">
    <p><span data-bind="text: name"></span> (<span data-bind="text: type"></span>)</p>
</script>

<script type="text/html" id="form-create-store">
    <form data-bind="submit: createStore, validate: true">
        <select class="input-medium" name="storeType"
                data-bind="options: storeTypes, value: storeType"></select>
        <div data-bind="template: {name: storeTemplate()}"></div>
    </form>
</script>

<script type="text/html" id="storetypes-select">Select a type</script>

<script type="text/html" id="storetypes-Firebase">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="instanceUrl">Base URL</label>
            <div class="controls">
                <input type="text" class="baseUrl input-xlarge required url" id="instanceUrl"
                       placeholder="http://demo.firebase.com/youraccount"
                       data-bind="value: baseUrl, valueUpdate: 'afterkeydown'">
                <p class="help-block">This is the URL to your Firebase instance</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="instanceName">Instance Name</label>
            <div class="controls">
                <input type="text" class="baseUrl input-medium required" id="instanceName"
                       data-bind="value: baseName">
                <p class="help-block">A name you can use to reference the connection</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </fieldset>
</script>